# See https://help.github.com/ignore-files/ for more about ignoring files.

# jetBrains IDE project files
.idea

# Docs
docs

# dependencies
/node_modules

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
